.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  width: 250px;
}

.centroDetalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonNavbar {
  margin: 15px;
}

.container {
  margin: 50px 0px;
  text-align: center;
}

.headingCenter {
  text-align: center;
  margin-top: 20px;
}

.totalPrice {
  text-align: center;
  margin-bottom: 50px;
  background-color: #FADBD8;
}

.buttonDeleteProduct {
width: 340px;
align-items: center;
margin-bottom: 15px;
}